<script type="text/ng-template" id="/certifications.html">
	<div class="page-header">
		<h1>Certifications</h1>
	</div>
	<div ng-repeat="certification in certifications">
		<span style="font-size:20px; margin-left:10px;">
				{{certification.title}}
		</span>
		<span>
			{{certification.description}}
		</span>
		<span title="Edit Certification" class="glyphicon glyphicon-pencil" ng-show="isEditable(certification)" ng-click="getCertificationForEdit(certification);"></span>
		<span title="Delete Certification" class="glyphicon glyphicon-remove" ng-show="isEditable(certification)" ng-click="removeCertification(certification)"></span>
		<span title="I want this certification!" ng-show="isLoggedIn()" class="glyphicon glyphicon-ok" ng-click="addCertificationToUser(certification)"></span>
	</div>
	<div>
		<button type="button" class="btn btn-primary" ng-show="canEditCertifications() && !showAdd" ng-click="showAdd = true;">New Certification</button>
	</div>

	<div ng-show="canEditCertifications() && showAdd">
		<form ng-submit="addCertification()"
			  style="margin-top:30px;" ng-show="isLoggedIn()">
			<h3>Add a New Certification</h3>
			<div class="form-group">
				<input type="text"
					   class="form-control"
					   placeholder="Title"
					   ng-model="certificationTitle"></input>
			</div>
			<div class="form-group">
				<input type="text"
					   class="form-control"
					   placeholder="Description"
					   ng-model="certificationDescription"></input>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="showAdd = false;">Add Certification</button>
			<button type="reset" class="btn btn-default" ng-click="showAdd = false;">Cancel</button>
		</form>
	</div>

	<div ng-show="canEditCertifications() && showEdit">
		<form ng-submit="editCertification()"
			  style="margin-top:30px;" ng-show="isLoggedIn()">
			<h3>Edit Certification</h3>
			<div class="form-group">
				<input type="text"
					   class="form-control"
					   placeholder="Title"
					   ng-model="certificationTitleEdit"></input>
			</div>
			<div class="form-group">
				<input type="text"
					   class="form-control"
					   placeholder="Description"
					   ng-model="certificationDescriptionEdit"></input>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="showEdit = false;">Edit Certification</button>
			<button type="reset" class="btn btn-default" ng-click="showEdit = false;">Cancel</button>
		</form>
	</div>
	<div ng-hide="isLoggedIn()">
		<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a Certification.</h3>
	</div>
</script>