
<script type="text/ng-template" id="/home.html">
	<div class="page-header">
		<h1>Certifi Home</h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Your Profile</div>
		<div class="panel-body">
			<div class="col-md-6">
				<div class="row">Name: Jeff</div>
				<div class="row">Profile: All the killer stuff you do.</div>
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">Certifications</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					Bovine Professional					
					&nbsp;<a data-target="#details1" data-toggle="collapse">PDC Summary</a>
					&nbsp;<a data-target="#courses1" data-toggle="collapse">Courses</a>
				</div>
			</div>
			<div class="collapse" id="details1">
				<div class="col-md-12">BP PDCs</div>
			</div>
			<div class="collapse" id="courses1">
				<div class="col-md-12">
					BP Courses
					<div class="row"><div class="col-md-12">BP Class1</div></div>
					<div class="row"><div class="col-md-12">BP Class2</div></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					Farm Management
					&nbsp;<a data-target="#details2" data-toggle="collapse">PDC Summary</a>
					&nbsp;<a data-target="#courses2" data-toggle="collapse">Courses</a>
				</div>
			</div>
			<div class="panel-collapse collapse" id="details2">
				<div class="col-md-12">FM PDCs</div>
			</div>
			<div class="collapse" id="courses2">
				<div class="col-md-12">
					FM Courses
					<div class="row"><div class="col-md-12">FM Class1</div></div>
					<div class="row"><div class="col-md-12">FM Class2</div></div>
				</div>
			</div>
		</div>
	</div>
</script>