

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Certifi Home</h1>
    </div>
	  <div>
		  <h3>You're at the home page! Not sure what should be here yet!</h3>
	  </div>
  </script>