<html>
<head>
  <title>Certifi</title>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>

  <script src="/javascripts/angularApp.js"></script>


</head>
<body ng-app="flapperNews">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
	  <li><a href="/#/users/{{currentUser()}}">{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="/#/home">Home</a></li>
	  <li ng-show="isLoggedIn()"><a href="/#/courses">Courses</a></li>
      <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      <li></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Certifi Home</h1>
    </div>
	  <div>
		  <h3>{{ username() }}</h3>
	  </div>
  </script>

	<script type="text/ng-template" id="/profile.html">
		<div class="page-header">
			<h1>Certifi User</h1>
		</div>
		<div>
			<h3>{{ user.username }}</h3>
		</div>
	<div>
		<span title="Edit Bio" class="glyphicon glyphicon-pencil" ng-show="!isEditMode" ng-click="isEditMode = true;"></span>
		<p ng-show="!isEditMode">{{user.bio}}</p>

		<div ng-show="isEditMode">
			<form ng-submit="editUser()" style="margin-top:30px;">
				<textarea ng-model="user.bio" class="form-control" placeholder="Write a short bio!"></textarea>
				<button type="submit" class="btn btn-primary" ng-click="isEditMode = false;">Save</button>
				<button type="reset" class="btn btn-default" ng-click="isEditMode = false;">Cancel</button>
			</form>
		</div>


	</div>
	</script>

  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(comment)"></span>
      {{comment.upvotes}} - by <a>{{comment.author}}</a>
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>
    <form ng-submit="addComment()"
      style="margin-top:30px;" ng-show="isLoggedIn()">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Comment"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Certifi Log In</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
      style="margin-top:30px;">
      <h3>Log In</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Pro Creditator - Register</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
	  <div class="form-group">
		  <select ng-options="userType.name as userType.name for userType in userTypes" ng-model="user.userType"></select>
	  </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>


	<script type="text/ng-template" id="/courses.html">
		<div class="page-header">
			<h1>Courses</h1>
		</div>
		<div ng-repeat="course in courses">
			<span style="font-size:20px; margin-left:10px;">
				<a href="#/courses/{{course._id}}">
					{{course.title}}
				</a>
			</span>
			<span>
				{{course.description}}
			</span>
			<span ng-show="course.author">
				provided by {{course.author}} |
			</span>
			<span title="Edit Course" class="glyphicon glyphicon-pencil" ng-show="isEditable(course)" ng-click="getCourseForEdit(course);"></span>
			<span title="Delete Course" class="glyphicon glyphicon-remove" ng-show="isEditable(course)" ng-click="removeCourse(course)"></span>
			<span title="I completed this!" ng-show="isLoggedIn()" class="glyphicon glyphicon-ok" ng-click="addCourseToUser(course)"></span>
		</div>
		<div>
			<button type="button" class="btn btn-primary" ng-show="canEditCourses() && !showAdd" ng-click="showAdd = true;">New Course</button>
		</div>

		<div ng-show="canEditCourses() && showAdd">
			<form ng-submit="addCourse()"
				  style="margin-top:30px;" ng-show="isLoggedIn()">
				<h3>Add a New Course</h3>
				<div class="form-group">
					<input type="text"
						   class="form-control"
						   placeholder="Title"
						   ng-model="courseTitle"></input>
				</div>
				<div class="form-group">
					<input type="text"
						   class="form-control"
						   placeholder="Description"
						   ng-model="courseDescription"></input>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="showAdd = false;">Add Course</button>
				<button type="reset" class="btn btn-default" ng-click="showAdd = false;">Cancel</button>
			</form>
		</div>

		<div ng-show="canEditCourses() && showEdit">
			<form ng-submit="editCourse()"
				  style="margin-top:30px;" ng-show="isLoggedIn()">
				<h3>Edit Course</h3>
				<div class="form-group">
					<input type="text"
						   disabled: true
						   class="form-control"
						   placeholder="Title"
						   ng-model="courseTitleEdit"></input>
				</div>
				<div class="form-group">
					<input type="text"
						   class="form-control"
						   placeholder="Description"
						   ng-model="courseDescriptionEdit"></input>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="showEdit = false;">Edit Course</button>
				<button type="reset" class="btn btn-default" ng-click="showEdit = false;">Cancel</button>
			</form>
		</div>
		<div ng-hide="isLoggedIn()">
			<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a course.</h3>
		</div>
	</script>
</body>
</html>
